* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #4A2F73;
}

button {
  text-transform: uppercase;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0 0 20px 20px;
  letter-spacing: 2px;
}

h2, h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

body {
  width: 100%;
  height: 100vh;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #d3c1f3;
  -webkit-box-shadow: 0px 10px 50px -10px #0F0B22;
          box-shadow: 0px 10px 50px -10px #0F0B22;
  position: relative;
}

body header img {
  display: inline-block;
  width: 20vh;
  height: 100%;
  padding: 10px;
}

body header h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

body header span {
  position: absolute;
  right: 60px;
  color: #4A2F73;
}

body #modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

body #modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 50%;
  height: 50%;
  background: #d3c1f3;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
}

body #modal div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 40px;
  font-weight: 300;
  width: 100%;
  height: 20%;
}

body #modal div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  border-radius: 20px;
}

body #modal div div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 20%;
  font-size: 25px;
  background-color: #F0F0F0;
}

body #modal div div .fa-sort-up {
  border-radius: 20px 20px 0 0;
}

body #modal div div .fa-sort-down {
  border-radius: 0 0 20px 20px;
}

body #modal div div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #f43268;
  border-bottom: 1px solid #f43268;
  height: 60%;
  width: 100%;
  font-size: 80px;
  background: white;
}

body #modal div button {
  width: 100%;
  height: 20%;
}

body #modal div button:hover {
  color: #f43268;
  background-color: #e8e8e8;
  cursor: pointer;
}

body #timer-content {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(135deg, #f43268, #5b1ec1);
}

body #timer-content #timer {
  display: inline-block;
  height: 60vh;
  width: 30%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 50px -10px #0F0B22;
          box-shadow: 0px 0px 50px -10px #0F0B22;
}

body #timer-content #timer h3 {
  text-transform: uppercase;
  width: 100%;
  height: 15%;
  background-color: #d3c1f3;
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #timer-content #timer > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  width: 100%;
  background: #F0F0F0;
  font-size: 80px;
  border-bottom: 1px solid #f43268;
  border-top: 1px solid #f43268;
}

body #timer-content #timer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 10%;
}

body #timer-content #timer > div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #d3c1f3;
}

body #timer-content #timer > div p:nth-child(2) {
  border-left: 1px #f43268  solid;
  border-right: 1px #f43268 solid;
}

body #timer-content #timer #pause-go-button {
  border-top: #f43268 solid 1px;
  width: 100%;
  height: 15%;
  border-radius: 0 0 50px 20px;
}

body #timer-content #timer #pause-go-button button:hover {
  color: #f43268;
  background-color: #e8e8e8;
  cursor: pointer;
}

body #timer-content #content {
  -webkit-box-shadow: 0px 0px 50px -20px #0F0B22;
          box-shadow: 0px 0px 50px -20px #0F0B22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20vh;
  height: 60vh;
  width: 40%;
  background-color: #ddd;
  border-radius: 20px;
}

body #timer-content #content div {
  width: 60%;
}

body #timer-content #content div h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 15%;
  border-radius: 20px 0 0 0;
  background-color: #d3c1f3;
  border-bottom: #f43268 1px solid;
}

body #timer-content #content div p {
  display: inline-block;
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #F0F0F0;
  border-radius: 0 0 0 20px;
}

body #timer-content #content #inspiration {
  width: 40%;
  border-radius: 0 20px 20px 0;
  border-left: #f43268 1px solid;
}

body #progress {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px -10px 30px -10px #0F0B22;
          box-shadow: 0px -10px 30px -10px #0F0B22;
  padding: 10px 0;
  background-color: #4A2F73;
}

body #progress p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d3c1f3;
  width: 10%;
  margin-left: 10vh;
  border-radius: 20px;
  color: #4A2F73;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px 0px 50px -10px #0F0B22;
          box-shadow: inset 0px 0px 50px -10px #0F0B22;
}

body #progress p:first-child {
  margin-left: 20vh;
}

body #progress p:last-child {
  margin-right: 20vh;
}
/*# sourceMappingURL=styles.css.map */